@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FF7E08;
}

.login-from{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background-color: #FF7E08;
    padding: 35px;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr auto 1fr;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.login-from h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.login-from h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #272346;
    text-align: center;
}

.login-from .main{
    position: relative;
    display: flex;
    margin-top: 30px 0;
}

.error-message {
    text-align: center;
    font-size: 12px;
}
.content{
    flex-basis: 50%;
    padding: 2em 2em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.content-register{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    max-width: 90%;
}

.form img{
    flex-basis: 50%;
    background: #eeebeb;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.form-img img{
    max-width: 100%;
}

p{
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    opacity: 0.6;
    
}

.btn,button,input{
    border-radius: 35px;

}

.btn:hover,
button:hover{
    color: #0e0d0d;
    transition: 0.5s ease;
}

a{
    text-decoration: none;
}

.login-from form{
    margin: 30px 0;
}

.login-from input{
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #e4e9ec;
    transition: 0.3s ease;
}

.login-from input:focus{
    background: transparent;
    border: 1px solid #FF7E08;
}

.login-from button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #FF7E08;
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

p.account a{
    color: #FF7E08;
}

p.account a:hover{
    text-decoration: underline;
}




@media (max-width: 768px){
    .login-from .main{
        flex-direction: column;
    }
    .login-from form{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .form img{
        border-radius: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .content{
        order: 1;
        border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media (max-width: 480px) {
    .content, .form.img {
        max-width: 100%;
    }
}


.loader {
    width: 80px;
    height: 50px;
    position: relative;
    display: none;
}

.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #FF7E08;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
}

.load {
    background-color: #FF7E08;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f7c08efb;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
0% {
    letter-spacing: 1px;
    transform: translateX(0px);
}

40% {
    letter-spacing: 2px;
    transform: translateX(26px);
}

80% {
    letter-spacing: 1px;
    transform: translateX(32px);
}

90% {
    letter-spacing: 2px;
    transform: translateX(0px);
}

100% {
    letter-spacing: 1px;
    transform: translateX(0px);
}
}

@keyframes loading_713 {
0% {
    width: 16px;
    transform: translateX(0px);
}

40% {
    width: 100%;
    transform: translateX(0px);
}

80% {
    width: 16px;
    transform: translateX(64px);
}

90% {
    width: 100%;
    transform: translateX(0px);
}

100% {
    width: 16px;
    transform: translateX(0px);
}
}

@keyframes loading2_713 {
0% {
    transform: translateX(0px);
    width: 16px;
}

40% {
    transform: translateX(0%);
    width: 80%;
}

80% {
    width: 100%;
    transform: translateX(0px);
}

90% {
    width: 80%;
    transform: translateX(15px);
}

100% {
    transform: translateX(0px);
    width: 16px;
}
}

